<section class="star-wars-page">
  <app-character-search
    [searchQuery]="''"
    (searchValueChange)="onNewSearchValue($event)"
  ></app-character-search>
  <div class="star-wars-page__results-count">
    Showing <b>{{ (characters$ | async).length }}</b> results of
    <b>
      {{ totalCount$ | async }}
    </b>
  </div>
  <app-character-sort
    [options]="sortOptions$ | async"
    (selectedValueChange)="onNewSortValue($event)"
  ></app-character-sort>
  <app-characters-list [characters]="characters$ | async"></app-characters-list>
  <button
    class="star-wars-page__load-more"
    mat-raised-button
    color="primary"
    (click)="loadMore()"
  >
    Load More
  </button>
</section>
