<div class="character-search">
  <form
    class="character-search__form"
    (ngSubmit)="onSubmit()"
    [formGroup]="searchForm"
  >
    <mat-form-field class="character-search__form-field">
      <mat-label>Search Character</mat-label>
      <input matInput type="text" formControlName="searchInput" />
    </mat-form-field>
    <button
      class="character-search__button"
      mat-raised-button
      type="submit"
      color="primary"
    >
      Search Character
    </button>
  </form>
</div>
